{% extends 'base_template.twig' %}

{% block title %}
     {{ 'Page not found' | t }}
{% endblock %}

{% block content %}
    <div class="content">
        <div class="content-header">
            <div>{{"Page not found" | t }}</div>
        </div>
    </div>
{% endblock %}

