{% extends 'base_template.twig' %}

{% block title %}
     {{ 'Edit page' | t }}
{% endblock %}

{% block content %}
    <div class="content">
        <div class="content-header">
            <div>{{"Edit task" | t }} #{{ task.getId() }}</div>
        </div>
        <div class="task-edit">
            <form method="POST" action="{{ path('task?action=saveChange') }}" enctype="multipart/form-data">
                <div class="task-author-item"><span class="task-author-item-title"><b>{{ 'E-mail' | t }}:</b></span> {{ task.getAuthor().getEmail() }}</div>
                <div class="task-author-item"><span class="task-author-item-title"><b>{{ 'Name' | t }}:</b></span> {{ task.getAuthor().getFirstName() }}</div><hr>
                <div class="task-content"><b>{{ 'Task' | t }}: </b> <div><textarea name="content">{{ task.getContent }}</textarea></div></div>
                <div class="task-completed"><label for="complete">{{ 'Completed' | t }}:</b> 
                    <input id="" name="complete" type="checkbox" {% if task.isCompleted %} checked {% endif %}>
                </div>
                <input name="taskId" value="{{ task.getId() }}" style="display: none">
                <button type="submit" class="button-submit button-active">{{ 'Save change' | t }}</button>
                {% set toBack = path('') %}
                <button type="button" class="button-submit button-inactive" onclick="document.location='{{ toBack }}'">{{ 'Back' | t }}</button>
            </form>

        </div>
    </div>
{% endblock %}