{% extends 'base_template.twig' %}

{% block title %}
     {{ 'Task list' | t }}
{% endblock %}

{% block content %}
    <div class="content">
        <div class="content-header">
            <div>{{ 'Tasks (block name)' | t }}</div>
        </div>
        <div class="task-actions">
            <div class="task-create-button">+</div>
        </div>
        {% if tasks %}
            <div class="task-list">
                <div class="sort-block">
                    <form method="POST" action="{{ path('task?action=setSortForTaskList') }}" enctype="multipart/form-data">
                        <div><b>{{ 'Sort by' | t }}:</b> 
                            <button {% if sort == 'id' %} class="selected" {% endif %} name='sort' value='id'>
                                <span class="sort-title {% if order == 'asc' %} asc {% else %} desc {% endif %}">Id</span>
                            </button> 
                            <button {% if sort == 'email' %} class="selected"{% endif %} name='sort' value='email'>
                                <span class="sort-title {% if order == 'asc' %} asc {% else %} desc {% endif %}">{{ 'Sort by email' | t }}</span>
                            </button> 
                            <button {% if sort == 'name' %} class="selected" {% endif %} name='sort' value='name'>
                                <span class="sort-title {% if order == 'asc' %} asc {% else %} desc {% endif %}">{{ 'Sort by name' | t }}</span>
                            </button> 
                            <button {% if sort == 'completed' %} class="selected" {% endif %} name='sort' value='completed'>
                                <span class="sort-title {% if order == 'asc' %} asc {% else %} desc {% endif %}">{{ 'Sort by status' | t }}</span>
                            </button>
                        </div>
                    </form>
                </div>
                {% for task in tasks %}
                    {% set taskId = task.getId() %}
                    <div class="task">
                        <div class="task-header">
                            <div class="task-id"><span>{{ 'Task' | t }} #{{ task.getId() }} {% if task.isEdited() %} ({{ 'edited by admin' | t }}) {% endif %}</span></div>
                            
                            {% if user.getType() == 'admin' %}
                                <div class="edit-this-task">
                                        <a href="{{ path('task?action=editTask&task_id=' ~ taskId) }}">{{ 'edit' | t }}</a>
                                </div>
                            {% endif %}
                            
                        </div>

                        <div class="task-author"> 
                            <div class="task-author-item"><span class="task-author-item-title"><b>{{ 'E-mail' | t }}:</b></span> {{ task.getAuthor().getEmail() }}</div>
                            <div class="task-author-item"><span class="task-author-item-title"><b>{{ 'Name' | t }}:</b></span> {{ task.getAuthor().getFirstName() }}</div>
                            <hr>
                        </div>

                        <div class="task-status-block">
                            {% if task.isCompleted() %}
                            <span class="task-status-complete"><b>{{ 'Status' | t }}:</b></span> {{ 'Completed' | t }}
                            {% else  %}
                                <span class="task-status-not-complete"><b>{{ 'Status' | t }}:</b></span> {{ 'Not completed' | t }}
                            {% endif %}
                            <hr>
                        </div>

                        <div class="task-content">
                            <p><b>{{ 'Task' | t }}:</b></p>
                            {{ task.getContent() }}</p>
                        </div>
                        <hr>
                    </div>
                {% endfor %}
            </div>

            {% if numberOfPages > 1 %}
            <div class="pagination-wrapper">
                <div class="pagination">
                    {% for page in 1..numberOfPages  %}
                        {% if loop.index == numberOfPage %}
                            <span><b>{{loop.index}}</b> </span>
                        {% else %} 
                            <a href="?page={{loop.index}}">{{loop.index}} </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block modal %} 
<div class="modal-content">
    <div class="modal-header">
        <span>{{ 'Create Task (block name)' | t }}</span>
    </div>
    <div class="form">
        <form method="POST" action="{{ path('task?action=createTask') }}" enctype="multipart/form-data">
            <div class="form-body">
                {% if user %}
                <div class="user-block">
                    <div class="user-block-item"><span>{{ 'E-mail' | t }}:</span> {{ user.getEmail() }}</div>
                    <div class="user-block-item"><span>{{ 'Name' | t }}:</span> {{ user.getFirstName() }}</div>
                </div>
                <input name="email" type="hidden" value="{{ user.getEmail() }}">
                <input id="first-name-input" name="firstName" type="hidden" value="{{ user.getFirstName() }}">

                {% else %}
                <div class="input-block">
                    <div class="input-info">
                        <label for="email-input">{{ 'E-mail' | t }}:</label>
                    </div>
                    <input id="email-input" name="email" type="email" required>
                </div>
                    
                <div class="input-block">
                    <div class="input-info">
                        <label for="firstname-input">{{ 'Name' | t }}:</label>
                    </div>
                    <input id="first-name-input" name="firstName" type="text" required>
                </div>
                {% endif %}
                <div class="input-block">
                    <div class="input-info">
                        <label for="task-textarea">{{ 'Task' | t }}:</label>
                    </div> 
                    <textarea id="task-textarea" class="task-text" name="task" required></textarea>
                </div>

                <button class="button-submit button-active">{{ 'Create task' | t }}</button>
            </div>
        </form>
    </div>
</div>
<div class="modal-background">
</div>
<script src="{{ path('/public/js/task_creation.js') }}"></script>
{% endblock %}
