{% extends "base_template.twig" %}

{% block title %}
    {{ 'Login page' | t }}
{% endblock %}

{% block content %}
    <div class="content">
        <div class="content-header">
            <span>{{ 'Login (block name)' | t }}</span>
        </div>
        <div class="form">
            <form class="auth" method="POST" action="{{ path('auth?action=login') }}">
                <div class="form-body">
                    <label for="email-input">{{ 'E-mail' | t }}</label>
                    <div class="lamp-input">
                        <input id="email-input" name="email" required>
                        <div class="lamp lamp-light-off"></div>
                    </div>

                    <label for="password-input">{{ 'Password' | t }}</label>
                    <div class="lamp-input">
                        <input id="password-input" name="password" type="password">
                        <div class="lamp lamp-light-off"></div>
                    </div>

                    <button class="button-submit button-inactive" disabled="disabled">{{ 'Log In' | t }}</button>
                    <span id="or">{{ 'or' | t }}</span>
                    <a href=" {{ path('registration') }} ">{{ 'Registration' | t }}</a>
                </div>
            </form>      
        </div>
    </div>

    <script src="{{ path('public/js/login.js') }}"></script>
{% endblock %}

