{% extends 'base_template.twig' %}

{% block title %}
    {{ 'Registration page' | t }}
{% endblock %}

{% block content %}
    <div class="content">
        <div class="content-header">
            <span>{{ 'Registration (block name)' | t }}</span>
        </div>
        <div class="form">
            <form class="auth" method="POST" action="{{ path('registration?action=registration') }}" enctype="multipart/form-data">
                <div class="form-body">
                    <div class="input-block">
                        <div class="input-info">
                            <label for="email-input">{{ 'E-mail' | t }}</label>
                            <div class="warning">
                                {{ 'Enter a valid email address' | t }}
                            </div>
                        </div>
                        <div class="lamp-input">
                            <input id="email-input" name="email" required>
                            <div class="lamp lamp-light-off"></div>
                        </div>
                    </div>
                    
                    <div class="input-block">
                        <div class="input-info">
                            <label for="firstname-input">{{ 'First name' | t }}</label>
                            <div class="warning">
                                {{ 'The first name should be longer than two characters and contain only letters' | t }}
                            </div>
                        </div>
                        <div class="lamp-input">
                            <input id="first-name-input" name="firstName" type="text" required>
                            <div class="lamp lamp-light-off"></div>
                        </div>
                    </div>
                    
                    <div class="input-block">
                        <div class="input-info">
                            <label for="lastname-input">{{ 'Last name' | t }}</label>
                            <div class="warning">
                                {{ 'The last name should be longer than two characters and contain only letters' | t }}
                            </div>
                        </div> 
                        <div class="lamp-input">
                            <input id="last-name-input" name="lastName" type="text" required>
                            <div class="lamp lamp-light-off"></div>
                        </div>
                    </div>
                    
                    <div class="input-block">
                        <div class="input-info">
                            <label for="password-input">{{ 'Password' | t }}</label>
                            <div class="warning">
                                {{ 'Password must contain at least 8 characters, contain numbers, lowercase and uppercase letters' | t }}
                            </div>
                        </div>
                        <div class="lamp-input">
                            <input id="password-input" name="password" type="password" required>
                            <div class="lamp lamp-light-off"></div>
                        </div>
                    </div>

                    <div class="input-block">
                        <div class="input-info">
                            <label for="confirm-password-input">{{ 'Confirm password' | t }}</label>
                            <div class="warning">
                                {{ 'This field must match the Password field.' | t }}
                            </div>
                        </div>
                        <div class="lamp-input">
                            <input id="confirm-password-input" name="confirmPassword" type="password" required>
                            <div class="lamp lamp-light-off"></div>
                        </div>
                    </div>

                    <button class="button-submit button-inactive" disabled="disabled">{{ 'Registration' | t }}</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        window.incorrectFileExtensionMessage = '{{ 'only jpg, png or gif file' | t }}';
        window.multipleUploadMessage = '{{ 'multiple upload not allowed' | t }}';
    </script>
    <script src="{{ path('/public/js/registration.js') }}"></script>
{% endblock %}