html, body {
    width:100%;
    height: 100%;
	margin:0px;
	padding:0px;
	font-family:'Open Sans',sans-serif;
    background-color: rgb(230, 230, 230);
    font-size: 16px;
    color: rgb(85, 85, 85);
}

a {
    text-decoration: none;
    color: rgb(20, 20, 20);
    width: max-content;
}

a:hover {
    color: rgb(0, 0, 0);
    text-shadow: 0px, 3px, 3px, 3px rgb(0, 0, 0);
}

.main {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-wrapper {
    display: flex;
    width: inherit;
    height: 64px;
    background: linear-gradient(rgb(20, 20, 20), rgb(130, 10, 10)); 
    align-items: center;
    box-shadow: 0px 0px 10px 2px rgba(26, 26, 26, 0.5);
    -moz-box-shadow: 0px 0px 10px 2px rgba(26, 26, 26, 0.5);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(26, 26, 26, 0.5);
    z-index: 10;
}

.header-wrapper a {
    color: rgb(220, 220, 220);
}

.header-wrapper a:hover {
    color: rgb(255, 255, 255);
}

.header-wrapper .header{
    display: inherit;
    width: inherit;
    height: 64px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-wrapper .header .logo {
    flex-grow: 20;
}

.header-wrapper .header .logo a {
    color: rgb(220, 220, 220);
    font-size: 32px;
    margin-left: 32px;
}

.header-wrapper .header .logo a:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.header-wrapper .header-list-lang {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.header-wrapper .header .header-list-lang ul li {
    display: inline;
    margin-left: 16px;
    color: rgb(220, 220, 220);
}

.header-wrapper .header div.logout, div.login {
    margin: 0 32px 0 16px;
    color: rgb(220, 220, 220);
    font-weight: bold;
}

.header-wrapper .header-block {
    margin-bottom: 20px;
    padding: 0 10px;
}

.content-wrapper {
    display: inherit;
    margin: 10px;
    width: 720px;
    height: 100%;
    justify-content: center;
    /* align-items: center; */
}

.content-wrapper a {
    color: rgb(130, 10, 10);
    font-weight: bold;
}

.content-wrapper a:hover {
    text-shadow:0 0 1px rgb(20, 20, 20);
}

.content-wrapper .content {
    display: inherit;
    flex-direction: column;
    width: inherit;
    height: max-content;
    padding: 5px 10px 20px 10px; 
    color: rgb(85, 85, 85);
}

.content-wrapper .content .content-header {
    display: flex;
    justify-content: center;
    margin: 6px 0 25px 0px;
    font-size: 32px;
    font-weight: bold;
    color: rgb(130, 10, 10);
}

.content-wrapper .content .info-wrapper {
    display: flex;
    width: inherit;
    flex-direction: column;
    justify-content: center;
} 

.content-wrapper .content .info-wrapper .info {
    display: flex;
    width: 432px;
    flex-direction: column;
    justify-content: center;
    margin-left: 144px;
    background-color: rgb(50, 50, 50); 
    box-shadow: 0px 0px 5px 2px rgba(26, 26, 26, 0.5);
    -moz-box-shadow: 0px 0px 5px 2px rgba(26, 26, 26, 0.5);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(26, 26, 26, 0.5);
    color: rgb(85, 85, 85);
    font-size: 16px;
}

.content-wrapper .content .info-wrapper .info .field {
    height: 20px;
    width: max-content;
    font-size: 16px;
    padding: 5px 0 5px 10px;
    color: rgb(50, 50, 50);
    z-index: 2;
}

.content-wrapper .content .form {
    display: flex;
    width: inherit;
    flex-direction: column;
    justify-content: center;
}

.content-wrapper .content .form form {
    width: inherit;
    margin: 0;
}

.content-wrapper .content .form .form-body {
    display: flex;
    width: inherit;
    flex-direction: column;
    justify-content: center;
    padding-left: 144px;
    color: rgb(20, 20, 20);
    font-size: 16px;
}
.content-wrapper .content .form .form-body .input-block {
    display: inherit;
    flex-direction: inherit;
}
.content-wrapper .content .form .form-body input {
    margin: 5px 0px 15px 0px;
    height: 20px;
    width: 432px;
    font-size: 16px;
    padding: 5px;
    border: none;
    background-color: rgb(220, 220, 220);
    box-shadow: inset 0px 0px 5px 1px rgba(25, 25, 25, 0.3);
    -moz-box-shadow: inset 0px 0px 5px 1px rgba(25, 25, 25, 0.3);
    -webkit-box-shadow: inset 0px 0px 5px 1px rgba(25, 25, 25, 0.3);
    color: rgb(85, 85, 85);
    z-index: 2;
}

.content-wrapper .content .form .form-body .input-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.content-wrapper .content .form .form-body .input-info .warning {
    display: none;
    position: absolute;
    text-align: center;
    top: 22px;
    align-items: center;
    max-width: 200px;
    width: max-content;
    min-height: 20px;
    padding: 5px;
    margin: 0 0 0 480px;
    color: rgb(50, 50, 50);
    font-size: 16px;
    text-shadow: none;
    background-color: rgb(160, 160, 160);
    border: 1px solid rgb(50, 50, 50);
    box-shadow: inset 0px 0px 3px 2px rgba(70, 70, 70, 0.5);
    -moz-box-shadow: inset 0px 0px 3px 2px rgba(70, 70, 70, 0.5);
    -webkit-box-shadow: inset 0px 0px 3px 2px rgba(70, 70, 70, 0.5);
}

.content-wrapper .content .form .form-body .input-label {
    display: inherit;
    flex-direction: row;
    align-items: center;

}

.content-wrapper .content .form .form-body .lamp-input {
    display: inherit;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.content-wrapper .content .form button {
    margin: 10px 0 0 0;
    width: max-content;
    height: 32px;
    font-size: 16px;
}

button.button-inactive {
    border: 1px solid rgb(45, 45, 45);
    background-color: rgb(180, 180, 180);
    box-shadow: inset 0px 0px 10px 2px rgba(26, 26, 26, 0.5);
    -moz-box-shadow: inset 0px 0px 10px 2px rgba(26, 26, 26, 0.5);
    -webkit-box-shadow: inset 0px 0px 10px 2px rgba(26, 26, 26, 0.5);
    color: rgb(20, 20, 20);
}

button.button-active {
    background: linear-gradient(rgb(10, 100, 10), rgb(10, 30, 10)); 
    color: rgb(220, 220, 220);
    border: 1px solid rgba(36, 33, 42, 0.55);
    cursor: pointer;
}

button.button-active:hover {
    background: linear-gradient(rgb(10, 100, 10), rgb(20, 20, 20)); 
    border: 1px solid rgba(36, 33, 42, 0.55);
    box-shadow: 0 5px 10px 0px rgba(26, 26, 26, 0.5);
    -moz-box-shadow: 0 5px 10px 0px rgba(26, 26, 26, 0.5);
    -webkit-box-shadow: 0 5px 10px 0px rgba(26, 26, 26, 0.5);
}

.lamp-light-off {
    transition: transform 1s;
    margin: 0 0 15px 10px;
    font-size: 16px;
}

.lamp-light-off::before {
    content: "\2718";
    transition: transform 1s;
    color: rgb(130, 10, 10);
}

.lamp-light-on {
    transition: transform 1s;
    margin: 0 0 15px 10px;
    font-size: 20px;
}

.lamp-light-on::before {
    content: "\2714";
    transition: transform 1s;
    color: rgb(10, 130, 10);
}

.content-wrapper .content .form .fake-button {
    color: rgba(36, 33, 42, 0.8);
    display: inherit;
    align-items: center;
    padding: 0 5px 0 5px;
    height: 20px;
    background-color: rgba(255, 255, 200, 0.6);
    border: 1px solid rgba(36, 33, 42, 0.55);
    box-shadow: inset 0px 0px 5px 1px rgba(26, 26, 26, 0.5),  0px 0px 30px 3px rgba(255, 255, 221, 0.05);
    -moz-box-shadow: inset 0px 0px 5px 1px rgba(26, 26, 26, 0.5),  0px 0px 30px 3px rgba(255, 255, 221, 0.05);
    -webkit-box-shadow: inset 0px 0px 5px 1px rgba(26, 26, 26, 0.5),  0px 0px 30px 3px rgba(255, 255, 221, 0.05);
}

#or {
    margin: 5px 0 5px 0;
}

.post-messages {
    display: none;
    flex-direction: column;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 0;
    margin-top: 70px;
    z-index: 20;
}

.post-messages .message {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 420px;
    height: max-content;
    align-items: center;
    border: 1px solid rgb(80, 80, 80);
    color: rgb(220, 220, 220);
    z-index: 10;
}

.post-messages .message .close-message {
    position: relative;
    left: 210px;
    width: max-content;
    text-align: right;
    font-size: 20px;
    color: rgb(220, 220, 220);
}

.post-messages .message .close-message:hover {
    color: rgb(180, 180, 180);
    cursor: pointer;
}

.close-button {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 16px;
    height: 16px;
    z-index: 1;
    cursor: pointer;
    text-shadow: none;
}
.close-button:before {
    content: '+';
    color: rgb(220, 220, 220);
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    transform: rotate(45deg);
    font-size: 30px;
    line-height: 0.5;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.8);
}
.close-button:hover:after {
    transform: scale(1);
}
.close-button:hover:before {
    transform: scale(0.8) rotate(45deg);
    color: #fff;
}

.post-messages .message .text-message {
    margin: 16px 16px 16px 16px;
    text-align: center;
}

.post-messages .message.successful {
    background: linear-gradient(rgb(10, 10, 10) 0%, 20%, rgb(10, 70, 10) 80%);
}

.post-messages .message.warning {
    background: linear-gradient(rgb(10, 10, 10) 0%, 20%, rgb(100, 10, 10) 80%);
}

.modal {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100%;
    max-height: min-content;
    z-index: 10;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.modal .modal-window{
    position: relative;
    padding: 10px;
    top: 0;
    right: 0;
    width: 500px;
    height: max-content;
    background-color: rgb(230, 230, 230);
    z-index: 3;
    box-shadow: 0px 0px 5px 1px rgba(25, 25, 25, 0.5);
    -moz-box-shadow: 0px 0px 5px 1px rgba(25, 25, 25, 0.5);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(25, 25, 25, 0.5);
    z-index: 50;
    
}

.modal .modal-window .modal-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.modal .modal-window .modal-content .modal-header {
    margin-top: 20px;
    height: 50px;
    font-size: 32px;
    font-weight: bold;
    color: rgb(130, 10, 10);
}

.modal .modal-window .modal-content .form .form-body {
    display: flex;
    width: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(20, 20, 20);
    font-size: 16px;
}

.modal .modal-window .modal-content .form .form-body .user-block {
    width: 100%;
}

.modal .modal-window .modal-content .form .form-body .user-block-item {
    width: 100%;
    margin-bottom: 5px;
}

.modal .modal-window .modal-content .form .form-body .user-block .user-block-item span {
    color: rgb(85, 85, 85);
    font-weight: bold;  
}

.modal .modal-window .modal-content .form .form-body .input-block .input-info {
    color: rgb(85, 85, 85);
    font-weight: bold;
}

.modal .modal-window .modal-content .form .form-body .input-block {
    display: inherit;
    flex-direction: inherit;
}
.modal .modal-window .modal-content .form .form-body input {
    margin-bottom: 15px;
    height: 20px;
    width: 400px;
    font-size: 16px;
    padding: 5px;
    border: none;
    background-color: rgb(220, 220, 220);
    box-shadow: inset 0px 0px 5px 1px rgba(25, 25, 25, 0.3);
    -moz-box-shadow: inset 0px 0px 5px 1px rgba(25, 25, 25, 0.3);
    -webkit-box-shadow: inset 0px 0px 5px 1px rgba(25, 25, 25, 0.3);
    color: rgb(85, 85, 85);
    z-index: 2;
}

.modal .modal-window .modal-content .form .form-body textarea {
    margin-bottom: 15px;
    height: 200px;
    max-height: 450px;
    min-height: 20px;
    width: 400px;
    max-width: 400px;
    min-width: 400px;
    font-size: 16px;
    padding: 5px;
    border: none;
    background-color: rgb(220, 220, 220);
    box-shadow: inset 0px 0px 5px 1px rgba(25, 25, 25, 0.3);
    -moz-box-shadow: inset 0px 0px 5px 1px rgba(25, 25, 25, 0.3);
    -webkit-box-shadow: inset 0px 0px 5px 1px rgba(25, 25, 25, 0.3);
    color: rgb(85, 85, 85);
    z-index: 2;
}

.modal .modal-window .modal-content .form .form-body .input-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.modal .modal-window .modal-content .form .form-body .input-label {
    display: inherit;
    flex-direction: row;
    align-items: center;
}

.modal .modal-window .modal-content .form button {
    margin: 10px 0 20px 0;
    width: max-content;
    height: 32px;
    font-size: 16px;
}

.content-wrapper .content .task-actions{
    display: flex;
    justify-content: center;

}

.content-wrapper .content .task-actions .task-create-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 50%;
    background: linear-gradient(rgb(10, 30, 10), rgb(10, 170, 10));
    font-size: 24px;
    color: rgb(220, 220, 220);
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
}

.content-wrapper .content .task-actions .task-create-button:hover{
    cursor: pointer;
}

.content-wrapper .content .task-actions .task-create-button:active{
    cursor: pointer;
    background: linear-gradient(rgb(10, 130, 10), rgb(10, 30, 10));
    font-size: 30px;
}

.content-wrapper .content .task-list .task .task-author .task-author-item  {
    margin-bottom: 5px;
    font-weight: bold;
}

.content-wrapper .content .task-list .task .task-author .task-author-item .task-author-item-title {
    background: linear-gradient(rgb(20, 20, 20), rgb(70, 70, 70)); 
    padding: 2px 5px 2px 5px; 
    color: rgb(220, 220, 220);
    border-radius: 5px;
}

.content-wrapper .content .task-list .task .task-status-block .task-status-not-complete {
    background: linear-gradient(rgb(20, 20, 20), rgb(170, 10, 10)); 
    padding: 2px 5px 2px 5px; 
    color: rgb(220, 220, 220);
    border-radius: 5px;
}

.content-wrapper .content .task-list .task .task-status-block .task-status-complete {
    background: linear-gradient(rgb(20, 20, 20), rgb(10, 170, 10)); 
    padding: 2px 5px 2px 5px; 
    color: rgb(220, 220, 220);
    border-radius: 5px;
}

.content-wrapper .content .task-list{
    margin-top: 10px;
    width: inherit;
}

.content-wrapper .content .task-list .task{
    margin-bottom: 24px;
}

.content-wrapper .content .task-list .task .task-header{
    display: flex;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    background: linear-gradient(rgb(20, 20, 20), rgb(170, 10, 10));
    color: rgb(220, 220, 220);
}

.content-wrapper .content .task-list .task .task-id{
    flex-grow: 100;
    float: left;
}

.content-wrapper .content .task-list .task .edit-this-task{
    flex-grow: 1;
    float: right;
}

.content-wrapper .content .task-list .task .edit-this-task a{
    color: rgb(220, 220, 220);
    font-weight: unset;
}

.content-wrapper .content .task-list .task .edit-this-task a:hover{
    color: rgb(180, 180, 180);
}


.content-wrapper .content .task-list .task .edit-this-task a::before{
    content: "\270E";
    position: relative;
    top: -3px;

    float: right;
}

.content-wrapper .content .task-list .task .task-content{
    width: inherit;
    word-wrap: break-word;
}

.content-wrapper .content .pagination-wrapper {
    display: flex;
    justify-content: center;
    width: inherit;  
    margin-top: 15px;
}

.content-wrapper .content .pagination {
    border-radius: 5px;
    text-align: center;
    background-color: rgb(210, 210, 210);
    max-width: inherit;
    width: max-content;
    padding: 10px 5px 10px 5px;
    word-wrap:break-word   
}

.content-wrapper .content .sort-block {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(210, 210, 210);
    padding: 10px 0 10px 5px;
    margin-bottom: 15px;
}

.content-wrapper .content .sort-block form {
    padding: 0;
    margin: 0;
}

.content-wrapper .content .sort-block form button {
    padding: 3px 3px 3px 3px;
    border-radius: 5px;
    border: 1px solid rgb(50, 50, 50);
    background-color: rgb(240, 240, 240);
    font-size: 14px;
    outline: none;
}

.content-wrapper .content .sort-block form button:hover {
    cursor: pointer;
}

.content-wrapper .content .sort-block form button.selected {
    background: linear-gradient(rgb(20, 20, 20), rgb(150, 10, 10));
    color: rgb(220, 220, 220);
    padding-right: 5px;
}


.content-wrapper .content .sort-block form button.selected .sort-title.asc::after {
    position: relative;
    content: "\21D3";
    left: 2px;
    top: 1px;
}

.content-wrapper .content .sort-block form button.selected .sort-title.desc::after {
    position: relative;
    content: "\21D1";
    left: 2px;
}

.content-wrapper .content .task-edit {
    display: flex;
    justify-content: center;
    width: inherit;

}

.content-wrapper .content .task-edit form {
    margin: 0;
}

.content-wrapper .content .task-edit form div {
    margin-bottom: 5px;
}

.content-wrapper .content .task-edit form textarea {
    height: 200px;
    max-height: 450px;
    min-height: 20px;
    width: 432px;
    max-width: 432px;
    min-width: 432px;
    font-size: 16px;
    padding: 5px;
    border: none;
    background-color: rgb(220, 220, 220);
    box-shadow: inset 0px 0px 5px 1px rgba(25, 25, 25, 0.3);
    -moz-box-shadow: inset 0px 0px 5px 1px rgba(25, 25, 25, 0.3);
    -webkit-box-shadow: inset 0px 0px 5px 1px rgba(25, 25, 25, 0.3);
    color: rgb(85, 85, 85);
    z-index: 2;
}

.content-wrapper .content .task-edit form .task-completed input {
    position: relative;
    top: 1px;
    display: inline-block;
}
.content-wrapper .content .task-edit form button {
    margin-top: 16px;
    height: 32px;
}


