<div class="header">
    <div class="logo">
        <a  href=" {{ path('/') }}" >Tasker</a>
    </div>

    <div class="header-list-lang">
        <ul>
            <li><a href="lang?action=switchLang&lang=ru">Ru</a></li>
            <li><a href="lang?action=switchLang&lang=en">En</a></li>
        </ul>
    </div>

    {% if isAuth %}
        <div class="logout">
            <a href="auth?action=logout">{{ 'Log Out' | t}}</a></li>
        </div>

    {% else %}
        <div class="login">
            <a href="auth">{{ 'Log In' | t}}</a></li>
        </div>
    {% endif %}
</div>