<!DOCTYPE html>
<html>
    <head>
        <title>
        {% block title %}
        {% endblock %}
        </title>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link href={{ path('public/css/style.css') }} rel='stylesheet' type='text/css'>
        <script src="{{ path('public/js/lib/jquery-3.5.0.min.js') }}"></script>
    </head>
    <body>
        {% if postMessages %}
            <div class="post-messages">
                {% for type, messages in postMessages %}
                    {% for message in messages %}
                        <div class="message {{ type }}" >
                            <div class="close-message"><span class="close-button"></span></div> 
                            <span class="text-message">{{ message | t }}</span>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>

            <script>
                jQuery(window).ready(function () {
                    if ($('.post-messages').length) {
                        $('.post-messages').fadeIn().css("display", "flex");
                        setTimeout(function () {
                            jQuery('.post-messages').fadeOut()
                        }, 5000);
                    }
                });

                jQuery('.post-messages .message .close-message').bind('click', function () {
                    jQuery('.post-messages').fadeOut();
                });
            </script>
        {% endif %}

        <div class="main">
            <div class="header-wrapper">
            {{ include('header.twig') }}
            </div>

            <div class="content-wrapper">
                {% block content %}
                {% endblock %}
                <div class="modal" style="display: none;">
                    <div class="modal-window">
                        {% block modal %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    <script src="{{ path('/public/js/modal.js') }}">   
    </script>
    </body>
</html>